html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: system-ui, sans-serif;
	overflow: hidden;
}

@font-face {
	font-family: "Minecrafter";
	src: url("/fonts/minecrafter/Minecrafter.Reg.woff2"), sans-serif;
}

/* This ensures full takeover of the screen */
body > main {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #171615;
}

/* Remove flex restraints from containers */
.main-container {
	all: unset;
}

/* Fullscreen fix */
.game-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background: black;
	color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color-scheme: dark;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 9999;
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

.game-container > progress {
	width: 90%;
	margin: 1em auto;
}

.game-container *:focus {
	outline: none;
}

/* Other components remain the same */
